@model List<BlogWebUI.Entities.Concrete.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Index</h2>
<br />
<table class="table table-striped" id="tblUsers">
    <thead>
    <tr>
        <th style="width: 25%">Yazar</th>
        <th>Başlık</th>
        <th style="width: 25%">Oluşturulma Tarihi</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var makale in Model)
    {
        <tr>
            <td>
                <i class="fa fa-user" style="margin-right: 5px"></i>
                <a href="" style="text-decoration: none;color: inherit">@makale.UserID</a>
            </td>
            <td>
                @makale.Name
            </td>
            <td>
                @makale.Surname
            </td>
        </tr>
    }

    </tbody>
</table>

